# Dependencies
node_modules/

# Logs
log/*.log

# Temp files
tmp/

# Environment
.env*
!.env.production.example

# Secrets
config/master.key
config/credentials/*.key

# Build artifacts
app/assets/builds/*
!app/assets/builds/.keep
